body {
	padding: 0;
	margin: 0;
}
html, body, #map {
	height: 100%;
	width: 100%;
}

#header {
	width: 100%;
	background-color: #29606F;
	padding: 10px;
}

#header img {
	height: 50px;
	width: auto;
}

#info {
	position: fixed;
	top: 100px;
	width: 300px;
	margin: auto;
	background-color: white;
	color: #29606F;
	text-align: center;
	font-family: arial, helvetica, sans-serif;
}

#info h2 {
	font-size: 1.2em;
}


